# macOS
.DS_Store

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.RDataTmp

# Stata
*.smcl
*.log
*.tmp
*.gph
*.ster

# Data cruda
Data Raw/
Data Int/
Data Out/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
/Code/Viejos pili
Output/Argentina/Drought_2021/dip_nac_mun_with_drought_2021.csv
Output/Argentina/Drought_ERA5_SPEI12/dip_nac_mun_with_era5_spei12.csv
Output/Argentina/Drought_2023_identification/dip_nac_mun_with_climate_2023.csv
Output/Argentina/Drought_ERA5_SPEI12_2023_only/dip_nac_mun_with_spei12_2023_control.csv
