# macOS
.DS_Store

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.RDataTmp

# Stata
*.smcl
*.log
*.tmp
*.gph
*.ster

# Data cruda
Data Raw/
Data Int/
Data Out/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
/Code/Viejos pili
